fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy==2.0.36
aiofiles==24.1.0
httpx==0.28.1
beautifulsoup4==4.12.3
python-multipart==0.0.19
Jinja2==3.1.5
aiohttp==3.11.11
aiodns==3.2.0
stem==1.8.2
PySocks==1.7.1
python-dotenv==1.0.1
phonenumbers==8.13.49
aiosqlite==0.22.1
greenlet==3.5.1
markdown==3.10.2
Pillow==11.1.0
